# Byte-compiled / object files
__pycache__/
*.pyc
*.pyo
*.pyd
*.bin

# Environments
.env
.venv
venv/
env/
ENV/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Interpreters and virtualenvs
.python-version
pip-log.txt
pip-delete-this-arg.txt

# Packaging
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/  # InteliJ/PyCharm
.vscode/ # VS Code
*.swp
