.book-card{
  background:#1e293b;
  border-radius:12px;
  overflow:hidden;
  padding:15px;
}

.book-image{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:8px;
}

.book-title{
  font-size:18px;
  font-weight:600;
  margin-top:10px;
}

.book-author{
  color:#94a3b8;
  font-size:14px;
}

.book-price{
  font-size:18px;
  font-weight:bold;
  margin-top:5px;
}

.book-button{
  margin-top:10px;
  background:#22c55e;
  border:none;
  padding:10px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

.book-button:hover{
  background:#16a34a;
}