*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background:#0f172a;
  color:white;
}

/* container general */

.container{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

/* grid de libros */

.books-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}