<!DOCTYPE html>
<html>
<head>
    <title>BookShop</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial; margin:0;">

    <!-- HEADER -->
    <div style="background:#222; color:white; padding:15px; display:flex; justify-content:space-between; align-items:center;">
        <h1 style="margin:0;">📚 BookShop</h1>

        <div>
            <a href="{{ url_for('index') }}" style="color:white; margin-right:15px;">Inicio</a>
            <a href="{{ url_for('cart') }}" style="color:white;">🛒 Ver Carrito</a>
        </div>
    </div>

    <!-- CONTENIDO -->
    <div style="padding:20px;">
        {% block content %}{% endblock %}
    </div>

</body>
</html>